.pageContainer {
    max-width: 1200px;
    border: 1px solid grey;
    margin: 0 auto;
    height: 100vh;
}
.header {
    height: 200px;
}

.mainSection {
    display: flex;
    justify-content: center;
}

.categoryList {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
