.pageContainer {
    max-width: 1200px;
    border: 1px solid grey;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: center;
}

.balloon {
    height: 350px;
}

.imageContainer {
    background-color: rgba(255, 255, 255, 0.295);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.imagesContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 12rem;
}

.header {
    height: 200px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 60px;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 100px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.activeButton {
    background: radial-gradient(
        circle at 10% 20%,
        rgb(253, 239, 132) 0%,
        rgb(247, 198, 169) 54.2%,
        rgb(21, 186, 196) 100.3%
    );
    transition: ease-in-out 80ms;
    border: 2px solid white;
    color: rgb(53, 18, 110);
    height: 100px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.61);
    cursor: pointer;
}

/* <div class="text-box">
    <a href="#" class="btn btn-white btn-        animate">click me</a>
</div> */

/* .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */
