.btn {
    background-color: rgb(255, 144, 81);
    color: white;
    border-radius: 7px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    position: relative;
    border: 3px solid #f8f7f5;
    margin: 2px;
}

.btn:active {
    top: 3px;
    transition: all 0.2s;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: blueviolet;
}

.btn.active {
    background-color: rgb(30, 172, 17);
    color: white;
}

.btn.inactive {
    opacity: 0.3;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
