.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.mainSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.avatarGallery {
    display: flex;
    flex-direction: row;
}

.nextButton {
    border: 2px solid red;
}

.activeAvatar,
.avatar:hover {
    border: 2px solid blue;
}

.selectedAvatar {
    border: 5px solid gold;
}
