.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.avatarGallery {
    display: flex;
    flex-direction: row;
}

.activeButton {
    border: 2px solid red;
}

.avatar {
    cursor: pointer;
    gap: 2rem;
}

.activeAvatar {
    border: 2px solid blue;
    cursor: pointer;
}

.selectedAvatar {
    border: 5px solid gold;
}

.activeNextButton {
    box-shadow: 0 0 10px 5px red;
}
