.pageContainer {
    max-width: 1200px;
    border: 1px solid grey;
    margin: 0 auto;
    height: 100vh;
}

.header {
    height: 100px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.playerInfo {
    display: flex;
}

.leaderboard h2 {
    margin: 0;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrongGuess {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.puzzleContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    margin-top: 40px;
}

.footerButtons {
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.footerButtonKeyCommands {
    display: flex;
    justify-content: center;
    gap: 31rem;
    color: white;
}

.modal {
    display: block;
}

.overlay {
    display: block;
}
