.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.mainSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.avatarGallery {
    display: flex;
    flex-direction: row;
}

.activeButton {
    border: 2px solid red;
}

.avatar {
    cursor: pointer;
    margin: 10px;
}

.activeAvatar {
    border: 2px solid blue;
    cursor: pointer;
}

.selectedAvatar {
    border: 5px solid gold;
}

.greyAvatars {
    opacity: 0.6;
    border: none;
}
