.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
}

.playerInfo {
    display: flex;
    flex-direction: row;
    gap: 30rem;
    margin: 0 auto;
    align-items: center;
}

.playerOneInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    align-items: center;
}

.playerTwoInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    align-items: center;
}
