@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

body {
    background: linear-gradient(
        181deg,
        rgb(162, 133, 250) 15%,
        rgb(111, 71, 231) 158.5%
    );
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

.pageContainer {
    max-width: 1200px;
    border: 1px solid grey;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: center;
}

.titleImageHome {
    height: 300px;
}

.titleImage {
    height: 100px;
}

.balloon {
    height: 350px;
}

.imageContainer {
    background-color: rgba(255, 255, 255, 0.295);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.imagesContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 12rem;
}

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 60px;
}

.infoMain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: "Mouse Memoirs", "sans-serif";
    color: #fca75d;
    -webkit-text-stroke: 2px #4a0062;
    font-size: 80px;
}

.avatarGallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.leftHalf {
    width: 600px;
    height: 600px;
}

.rightHalf {
    width: 600px;
    height: 600px;
}

/* .selectedAvatarContainer {
    display: flex;
    justify-content: center;
    height: 200px;
} */

.selectedAvatar {
    border: 5px solid rgb(179, 152, 3);
    background-color: gold;
}

.input {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.avatar {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: azure;
}

.activeAvatar {
    background-color: rgb(38, 141, 141);
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.avatarDisabled {
    cursor: auto;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 100px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    font-family: "Mouse Memoirs", "sans-serif";
    font-size: 40px;
}

.buttonDisabled {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 100px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    cursor: auto;
    outline: none;
}

.activeButton {
    background: rgb(16, 204, 204);
    transition: ease-in-out 80ms;
    border: 2px solid white;
    color: rgb(53, 18, 110);
    height: 100px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.61);
    cursor: pointer;
    outline: none;
    font-family: "Mouse Memoirs", "sans-serif";
    font-size: 40px;
}

.mainSection {
    display: flex;
    justify-content: center;
}

.categoryList {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrongGuess {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 40px;
}

.footerButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.singlePlayerFooterButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.footerButtonKeyCommands {
    display: flex;
    justify-content: center;
    gap: 31rem;
    color: white;
}

.singlePlayerFooterButtonKeyCommands {
    display: flex;
    justify-content: center;
    gap: 22rem;
    color: white;
}

.modal {
    display: block;
    position: fixed;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.leaderboardModal {
    display: block;
    position: fixed;
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.leaderboard h2 {
    margin: 0;
}

.mainSectionGamePlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: #ff9051;
    color: white;
    border-radius: 7px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    position: relative;
    border: 3px solid #f8f7f5;
    margin: 2px;
    outline: none;
}

.btnP2 {
    background-color: #10ccb3;
    color: white;
    border-radius: 7px;
    transition: all 0.2s;
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
    position: relative;
    border: 3px solid #f8f7f5;
    margin: 2px;
    outline: none;
}
.btn:active {
    top: 3px;
    transition: all 0.2s;
    outline: none;
}

.btnP2:active {
    top: 3px;
    transition: all 0.2s;
    outline: none;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: blueviolet;
    outline: none;
}

.btnP2:hover:not(:disabled),
.btnP2:focus:not(:disabled) {
    background-color: blueviolet;
    outline: none;
}

.btn.active {
    background-color: rgb(30, 172, 17);
    color: white;
    outline: none;
}

.btnP2.active {
    background-color: rgb(30, 172, 17);
    color: white;
    outline: none;
}

.btn.inactive {
    opacity: 0.3;
    outline: none;
}

.btnP2.inactive {
    opacity: 0.3;
    outline: none;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.puzzleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.puzzleLetter {
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 5px;
    margin: 3px;
}

.puzzleLetterBorder {
    border-bottom: 1px solid black;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.red {
    color: red;
}

.black {
    color: black;
}

.activeButtonModal {
    border: 2px solid red;
    outline: none;
}

.playerContainers {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.playerOneContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
    opacity: 0.5;
}

.playerTwoContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
    opacity: 0.5;
}

.startButton {
    margin-top: 50px;
    outline: none;
}

.playerOneActive {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
    border: 5px solid green;
}

.playerTwoActive {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
    border: 5px solid green;
}

.activeAvatarTP {
    border: 2px solid blue;
    cursor: pointer;
}

.selectedAvatarTP {
    border: 5px solid gold;
}

.activeButtonTP {
    border: 2px solid red;
    outline: none;
}

.activeStartButton {
    border: 2px solid red;
    outline: none;
}

.playerHeader {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.checkmarkOne {
    height: 50px;
    width: 50px;
}

.checkmarkTwo {
    height: 50px;
    width: 50px;
}

.activePlayerButton {
    box-shadow: 0 0 10px 5px red;
    outline: none;
}

.playerInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    align-items: center;
}

.playerInfoTP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
}

.disable {
    opacity: 0.5;
    cursor: auto;
}

.footerPlayButton {
    display: flex;
    justify-content: center;
    outline: none;
}

.playerOneTurn {
    background-color: rgb(255, 144, 81);
    border: 2px solid rgb(233, 107, 34);
}

.playerTwoTurn {
    background-color: rgb(16, 204, 179);
    border: 2px solid rgb(2, 168, 146);
}
